.canvasStage{
    width:800px;
    height: 600px;
    position: absolute;
    box-shadow: black 10px 10px 0px;
    border-style:solid;
    transition: all .5s;
}
.canvasStage canvas{
    width: 100%;
    height: 100%;
}